*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}


.cv{
    height: 100vh;
    width: 100%;
    background-image: url(../image/fond.png);
    background-size: cover;
    background-position: center;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;

}


.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}


span{
    color: #00F99F;   
}


nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}


nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color: #00F99F;
    transition: .4s;
}


.btn{
    background-color: #00F99F;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    
}


.btn:hover{
    background-color: transparent;
    border: 2px solid #00F99F;
    cursor: pointer;
}

.info{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}


h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}


h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}


h4{
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}


.moi{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}


.texte{
    width: 550px;

}


.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.texte h2{
    color: white;
    font-size: 450%;
    text-transform: capitalize;
    margin-bottom: 20px;

}


.texte h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.moi img{
    height: auto;
    width: 440px;

}


.texte p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}


.bts{
    background: #101010;
    width: 100%;
    padding: 100px 0px;

}


.title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}


.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}


.card{
    height: 365px;
    width: 335px;
    padding: 20px 25px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}


.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #00F99F;
}


h5{
    color: white;
    font-size: 20px;
    margin-bottom: 15px;
}


.bts h5{
    color:#00F99F;
}

.veille h5{
    color:#00F99F;
}

.veille btn{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.pra p{
    color: #fcfc;
    font-size: 12px;
    line-height: 27px;
    margin-bottom: 25px;
}


.veille{
    background: #101010;
    width: 100%;
    padding: 100px 0px;

}


.exp{
    background: #101010;
    width: 100%;
    padding: 100px 0px;

}


.proj{
    background: #101010;
    width: 100%;
    padding: 100px 0px;

}


.contact{
    width: 100%;
    height: 290px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


.contact p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}


.contact .button-two{
    background-color: #00F99F;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;

}


.contact .button-two:hover{
    background-color: transparent;
    border: 2px solid #00F99F;
    cursor: pointer;
}

.flex-container{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-box{
    width: 200px;
    height: 200px;
    background: linear-gradient(green,yellow);
    color: white;
    font-size: 25px;
    text-align: center;
    line-height: 200px;
    border-radius: 20px;
    margin: 10px;

}


footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


footer p:nth-child(1){
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}


footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;

}


footer p:nth-child(3){
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;

}


.fin{
    position: absolute;
    color: #00F99F;
    bottom: 35px;
    font-size: 14px;
}